/**

TODO: Set up variable with sidebar width and height

*/

/**
  The chat bar container
*/
#jsxc-chat-sidebar {

  z-index: 80;

  position: fixed;
  bottom: 0px;
  right: 20px;
  overflow: hidden;

  background: #1c94d4;
  width: 250px;

  box-shadow: 3px -3px 3px 3px rgba(0, 0, 0, 0.3);

  /*
  Don't set height here, sidebar must fit content
  height: 2.5em;
  */

}

/**
  Top part of the chat sidebar, width notifications
*/
#jsxc-chat-sidebar-header {

  height: 2em;

  color: white;
  font-weight: bolder;
  padding-top: 0.8em;
  padding-left: 0.8em;

}

/**
  Menu icon to toggle chat sidebar
*/
.jsxc-toggle-chat {
  cursor: pointer;
  background: url('icons/open-sidebar.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  margin-right: 0.7em;
}

/**
  In chat sidebar, filter display to show only users
*/
.jsxc-new-gui-filter-users {

}

/**
  In chat sidebar, filter display to show only users
*/
#jsxc-new-gui-filter-users {
  background-color: rgb(245, 245, 245);
  color: rgb(28, 148, 212);
  cursor: pointer;
  display: block;
  float: right;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

/**
  In chat sidebar, filter display to show only users
*/
#jsxc-new-gui-filter-conversations {
  background-color: rgb(245, 245, 245);
  color: rgb(28, 148, 212);
  cursor: pointer;
  display: block;
  float: left;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

/**
  Video icon to toggle chat videopanel
*/
.jsxc-toggle-video {
  cursor: pointer;
  background: url('icons/open-video.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  margin-right: 0.7em;
}

#jsxc_buddylist {
  height: 69%;
  overflow-x: hidden;
  overflow-y: scroll;

  margin: 3px;
  border: solid 1px silver;

}

#jsxc-select-buddies {
  display: block;
  clear: both;
  padding: 6px;
  text-align: right;
  text-decoration: none;

  cursor: pointer;
}

.jsxc-selection-mode-enabled {
  background: #cccddd;
}

.jsxc-checked:after {
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 0 3px 0 3px;

  background-image: url('icons/check.svg');
}

/**
  Content of the chat sidebar
*/
#jsxc-chat-sidebar-content {
  background: white;
  height: 0px;
  overflow: hidden;
}

#jsxc-chat-sidebar-filter-text-field {
  border: none;
  height: 1.5em;
  margin: 10px;
  width: 200px;
}

/**
  Panel where are displayed videos
*/
#jsxc-video-panel {

  /** Just under chat sidebar */
  z-index: 79;

  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
  width: 100%;

  background: rgba(0, 0, 0, 0.8);

  height: 0px;

}

/**
  Left video panel with controls and local video
*/
.jsxc-left-videopanel {
  margin: 0px;
  text-align: center;
  float: left;
  height: 100%;
  width: 20%;

  display: block;

  background: rgba(210, 210, 210, 0.9);

  border-right: solid 1px gray;
}

.jsxc-left-videopanel p {
  text-align: left;
  margin: 1em;
}

/**
  Right videopanel with remote videos
*/
.jsxc-right-videopanel {

  margin: 0px;
  display: block;
  text-align: center;
  float: right;

  height: 100%;
  width: 79%;
  white-space: nowrap;

  background: inherit;

  overflow-x: scroll;
  overflow-y: hidden;

}

#jsxc-videoconference-buddies {
  margin: 5px;
  list-style: none;
}

#jsxc-videoconference-buddies li {
  text-align: left;
  margin: 5px 5px 5px 15px;
  padding: 2px;
}

.jsxc-local-video {
  background: rgba(0, 0, 0, 1);
  width: 80%;
  margin: 5px;
}

.jsxc-remote-video {

  background: rgba(255, 255, 255, 0.8);

  display: inline-block;
  height: 80%;
  width: 500px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 1px white;
}

#jsxc-status-bar{
  padding: 0.6em;
}

.jsxc-logout-button{
  content: ' ';
  background-image: url('icons/logout.svg');
  background-repeat: no-repeat;
  background-size: 100%;

  cursor: pointer;

  height: 15px;
  width: 15px;
  display: inline-block;

  margin-left: 0.4em;
  margin-right: 0.4em;
}

.jsxc-select-status{
  margin: 0.7em;
}
























