/**

TODO: Set up variables:
- sidebar width and height
- opacity before, after hover

*/

#jsxc{
  font-family: Calibri, "PT Sans", "Trebuchet MS", 'Helvetica Neue', Arial;
  font-size: 13px; !important;
}

/**
  The chat bar container
*/
#jsxc-chat-sidebar {

  z-index: 80;

  position: fixed;
  bottom: 0px;
  right: 20px;
  overflow: hidden;

  background: #1c94d4;
  width: 250px;

  box-shadow: 3px -3px 3px 3px rgba(0, 0, 0, 0.3);

  /*
  Don't set height here, sidebar must fit content
  height: 2.5em;
  */

}

/**
  Top part of the chat sidebar, width notifications
*/
#jsxc-chat-sidebar-header {

  height: 2em;

  color: white;
  font-weight: bolder;
  padding-top: 0.8em;
  padding-left: 0.8em;

}

/**
  Menu icon to toggle chat sidebar
*/
.jsxc-toggle-chat {
  cursor: pointer;
  background: url('icons/open-sidebar.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 0.7em;

  opacity: 0.7;
}

.jsxc-toggle-chat:hover{
  opacity: 1;
}

/**
  In chat sidebar, filter display to show only users
*/
#jsxc-new-gui-filter-users {
  background-color: rgb(245, 245, 245);
  color: rgb(28, 148, 212);
  cursor: pointer;
  display: block;
  float: right;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

/**
  In chat sidebar, filter display to show only users
*/
#jsxc-new-gui-filter-conversations {
  background-color: rgb(245, 245, 245);
  color: rgb(28, 148, 212);
  cursor: pointer;
  display: block;
  float: left;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

.jsxc-active-filter {
  background: rgba(190, 230, 240, 0.5) !important;
}

/**
  Video icon to toggle chat mediapanel
*/
.jsxc-toggle-video {
  cursor: pointer;
  background: url('icons/open-video.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  margin-right: 0.7em;
  opacity: 0.7;
}

.jsxc-toggle-video:hover{
  opacity: 1;
}


#jsxc_buddylist {
  height: 65%;
  overflow-x: hidden;
  overflow-y: scroll;

  margin: 3px;
  border: solid 1px silver;

}

#jsxc-select-buddies {
  display: inline-block;
  clear: both;
  padding: 6px;
  text-align: right;
  text-decoration: none;

  cursor: pointer;
  padding-right: 0.7em;
  opacity: 0.7;
}

#jsxc-select-buddies:hover{
  opacity: 1;
}


.jsxc-selection-mode-enabled {
  background: #cccddd;
}

.jsxc-checked:after {
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 0 3px 0 3px;

  background-image: url('icons/check.svg');
}

/**
  Content of the chat sidebar
*/
#jsxc-chat-sidebar-content {
  background: white;
  height: 0px;
  overflow: hidden;
}

#jsxc-chat-sidebar-filter-text-field {
  border: solid 1px #DDDDDD;
  height: 2em;
  color: #222222;
  margin: 5px;
  padding: 5px;
  width: 96%;
}

/**
  Panel where are displayed videos
*/
#jsxc-mediapanel {

  /** Just under chat sidebar */
  z-index: 79;

  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
  width: 100%;

  background: rgba(0, 0, 0, 0.8);

  height: 0px;

}

/**
  Left video panel with controls and local video
*/
#jsxc-mediapanel-left {
  margin: 0px;
  text-align: center;
  float: left;
  height: 100%;
  width: 20%;

  display: block;

  background: rgba(255, 255, 255, 1);

  border-right: solid 1px gray;
}

#jsxc-mediapanel-left .jsxc-header {
  font-weight: bolder;
  background: #1c94d4;
  color: white;
  padding: 1em;
}

#jsxc-mediapanel-left p {
  text-align: left;
  margin: 1em;
}

/**
  Right mediapanel with remote videos
*/
#jsxc-mediapanel-right {

  margin: 0px;
  display: block;
  text-align: center;
  float: right;

  height: 100%;
  width: 79%;
  white-space: nowrap;

  overflow-x: scroll;
  overflow-y: hidden;

}

#jsxc-videoconference-buddies {
  margin: 5px;
  list-style: none;
}

#jsxc-videoconference-buddies li {
  text-align: left;
  margin: 5px 5px 5px 15px;
  padding: 2px;
}

.jsxc-local-video {
  background: rgba(0, 0, 0, 1);
  width: 80%;
  margin: 5px;
}

#jsxc-status-bar {
  padding: 0.6em;
}

.jsxc-logout-button {
  content: ' ';
  background-image: url('icons/logout.svg');
  background-repeat: no-repeat;
  background-size: 100%;

  cursor: pointer;

  height: 15px;
  width: 15px;
  display: inline-block;

  margin-left: 0.4em;
  margin-right: 0.4em;
}

.jsxc-select-status {
  margin: 0.7em;
}

#jsxc-toggle-settings {

  cursor: pointer;

  background: url('icons/settings.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  margin-left: 0.7em;
  margin-right: 0.7em;

  float: right;

  /** not visible first time */
  opacity: 0;

}

#jsxc-toggle-settings:hover{
  opacity: 1;
}

/**

  Floating menu with various settings access

*/
#jsxc-settings-menu {
  display: none;
  width: 300px;
  height: 300px;
  background: white;
  z-index: 100;

  border: solid 1px silver;

  box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.1);

  overflow: scroll;
}

#jsxc-settings-menu a {
  display: block;
  padding: 0.5em;
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
}

/**
  Floating menu with actions related to buddies and work operations
*/
#jsxc-toggle-actions{
  content: ' ';
  background: url('icons/open-menu.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  float: right;

  margin-top: 0.5em;
  margin-left: 0.7em;
  margin-right: 0.7em;

  cursor: pointer;

  opacity: 0.7;

}

#jsxc-toggle-actions:hover{
  opacity: 1;
}

/**
  Ressources links and display in media panel
*/
.jsxc-media-ressource-link{
  color: darkblue;
  cursor: pointer;
  opacity: 0.8;
}

.jsxc-media-ressource-link:hover{
  text-decoration: underline;
  opacity: 1;
}

.jsxc-media-ressource-link:after{

  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 3px 0 3px;

  background-image: url('icons/ressource.svg');

}


.jsxc-media-ressource {

  display: inline-block;
  height: 80%;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.jsxc-media-ressource .jsxc-title{
  font-size: 1.2em;
  text-align: center;
  font-weight: bolder;
  color: white;

}

.jsxc-last-notifications{
  cursor: pointer;
}

.jsxc-multimedia-error-block{
  font-weight: bolder;
  color: white;
  font-size: 14px;
}

#jsxc-actions-menu {
  display: none;
  width: 300px;
  height: 300px;
  background: white;
  z-index: 100;

  border: solid 1px silver;

  box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.1);

  overflow: scroll;
}



