<div id="jsxc_menuRooms">

    <p>Démarrer une conversation:</p>

    <div class="jsxc_roomCreationUsers"></div>

    <div class="jsxc_sideMenuCreateRoomForm">

        <input type="text" class="jsxc_inputChatRoomName" placeholder="Nom du salon"/>

        <input type="text" class="jsxc_inputChatRoomSubject" placeholder="Sujet"/>

        <br/>
        <input type="checkbox" id="jsxc_roomCreationPrivate" value="0" class="notImplementedYet"/>Salon privé

        <br/>
        <input type="checkbox" id="jsxc_roomCreationEphemeral" value="0" class="notImplementedYet"/>Salon éphémère

    </div>

    <div class="jsxc_createRoom jsxc_actionButton">Créer un salon</div>

    <p>&nbsp;</p>

    <div class="jsxc_roomDialog jsxc_actionButton" >Boite de dialogue "salons"</div>

</div>