<div id="jsxc_menuRooms">

    <p>Démarrer une conversation:</p>

    <!-- Select users for start a conversation -->
    <div id="jsxc_roomCreationUsers"></div>

    <div class="jsxc_menuAdvice">Touche 'Control' pour sélectionner plusieurs utilisateurs</div>

    <div class="jsxc_refreshBuddyList jsxc_actionButton">Rafraichir la liste</div>

    <!-- Conversation form -->
    <div class="jsxc_sideMenuCreateRoomForm">

        <input type="text" class="jsxc_inputRoomTitle" placeholder="Titre de la conversation"/>

        <input type="text" class="jsxc_inputRoomSubject" placeholder="Sujet"/>

    </div>

    <div class="jsxc_createRoom jsxc_actionButton">Nouvelle conversation</div>

    <p>&nbsp;</p>

    <!--<div class="jsxc_roomDialog jsxc_actionButton" >Boite de dialogue "salons"</div>-->

</div>