<!-- Side bar with buddy list and menu -->
<div id="jsxc_roster">

    <!-- Main menu -->
    <div id="jsxc_side_menu">

        <div id="jsxc_side_menu_search_bar">

            <input type="text" placeholder="Rechercher" id="jsxc_menu_search_text_field"/>
            <input type="button" id="jsxc_menu_previous_btn" value="<"/>
            <input type="button" id="jsxc_menu_next_btn" value=">"/>

            <div id="jsxc_menu_feedback">&nbsp;</div>

        </div>

        <div id="jsxc_side_menu_content"></div>

    </div>

    <!-- buddy list -->
    <ul id="jsxc_buddylist"></ul>

    <!-- Menu bar on bottom of roster -->
    <div class="jsxc_bottom jsxc_presence jsxc_rosteritem" data-bid="own">

        <!-- Avatar -->
        <div id="jsxc_avatar" class="jsxc_avatar"/>

        <div id="jsxc_menu">

            <!-- Button for menu openning, image added with scss/_jsxc.scss -->
            <span></span>

        </div>

        <div id="jsxc_presence">
            <span data-i18n="Offline">Offline</span>
            <div class="jsxc_inner">
                <ul>
                    <li data-pres="online" class="jsxc_online" data-i18n="Online"></li>
                    <li data-pres="chat" class="jsxc_chat" data-i18n="Chatty"></li>
                    <li data-pres="away" class="jsxc_away" data-i18n="Away"></li>
                    <li data-pres="xa" class="jsxc_xa" data-i18n="Extended_away"></li>
                    <li data-pres="dnd" class="jsxc_dnd" data-i18n="dnd"></li>
                    <li data-pres="offline" class="jsxc_offline" data-i18n="Offline"></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Barre transparente permettant de replier le menu JSXC -->
    <div id="jsxc_toggleRoster"></div>

</div>
