.idea/
node_modules
bower_components
memos

.~lock*

etc/ssl/*
opt/openfire/resources/security/*
*.pem

opt/djoe-docker-image/dependencies/*.tar.gz

var/www/djoe/jsxc/dev/
var/www/djoe/jsxc/tmp/
var/www/djoe/jsxc.original/

var/www/djoe/playground/



