<h3 data-i18n="hey_djoe"></h3>

<p>
  <b data-i18n="[html]heydjoe_description"></b>
</p>

<p data-i18n="about_free_description"></p>

<p>
  <span data-i18n="[html]more_information_on"></span>
<ul>
  <li><a href='http://hey-djoe.fr' target="_blank">http://hey-djoe.fr</a></li>
  <li><a href='https://github.com/remipassmoilesel/heydjoe' target="_blank">https://github.com/remipassmoilesel/heydjoe</a>
  </li>
</ul>
</p>

<button class="btn btn-default pull-right jsxc_spaceInvasion">Space Invasion !</button>


