<h3>Document Etherpad</h3>

<p>Un document Etherpad, souvent raccourci en "pad", est un document texte éditable <br> par plusieurs
  personnes en temps réel sur plusieurs postes de travail distants.

<ul>
  <li><a href="https://fr.wikipedia.org/wiki/Etherpad" target="_blank">Wikipedia</a></li>
</ul>
</p>

<p><b>Nom du document à ouvrir ou à créer:</b></p>
<p></p><input type="text" class="jsxc-etherpad-name"/></p>


<p><b>Inviter des utilisateurs (optionnel):</b></p>
<div id="jsxc-etherpad-dialog-buddylist"></div></p>

<button class="btn btn-primary jsxc_confirm pull-right">Confirmer</button>
<button class="btn btn-default jsxc_cancel jsxc_close pull-right">Annuler</button>