<h3 data-i18n="etherpad_document"></h3>

<p data-i18n="[html]etherpad_description"></p>

<p data-i18n="[html]etherpad_wikipedia_link"></p>

<p>
  <b data-i18n="etherpad_document_name"></b>
  <input type="text" class="jsxc-etherpad-name"/>
</p>


<p>
  <b data-i18n="etherpad_invite_users"></b>
  <div id="jsxc-etherpad-dialog-buddylist"></div>
</p>

<button class="btn btn-primary jsxc_confirm pull-right" data-i18n="Confirm"></button>
<button class="btn btn-default jsxc_cancel jsxc_close pull-right" data-i18n="Cancel"></button>
<button class="btn btn-default jsxc_refresh pull-right" data-i18n="refresh"></button>