<h3 data-i18n="install_chrome_screen_sharing_extension"></h3>

<img id="jsxc_installationIllustration"/>

<p data-i18n="install_chrome_extension_intro"></p>

<ol>
  <li data-i18n="open_dialog_in_chrome"></li>
  <li>
    <a id="jsxc-chrome-extension-link" data-i18n="click_here_to_download_extension"></a>
     <span data-i18n="then_save_it_in_your_system"></span>
  </li>
  <li>
    <a href="about:blank" target="_blank" data-i18n="open_a_new_tab"></a>
  </li>
  <li data-i18n="[html]then_go_to_settings"></li>
  <li data-i18n="[html]drop_extension_on_page"></li>
  <li data-i18n="[html]confirm_extension_installation"></li>
  <li data-i18n="[html]then_refresh_page"></li>
</ol>

<button class="btn btn-default pull-right jsxc_closeInstallChromeExtension" data-i18n="Close"></button>
<button class="btn btn-primary pull-right jsxc_reloadInstallChromeExtension" data-i18n="reload_page"></button>
