<h3>Installer l'extension Chrome de capture d'écran</h3>

<img id="jsxc_installationIllustration"/>

<p>Pour pouvoir capturer et partager votre écran suivez attentivement les étapes suivantes.
  <b>Ces opérations ne sont pas nécéssaires pour recevoir le flux d'un autre écran.</b></p>

<ol>
  <li>
    Ouvrez cette boite de dialogue dans le navigateur Chrome
  </li>
  <li>
    <a href="https://im.silverpeas.net/screen-capture/chrome-extension.crx">
      Cliquez ici pour télécharger l'extension
    </a>
    puis enregistrez là dans le dossier "Téléchargement" de votre système
  </li>
  <li>
    <a href="about:blank" target="_blank">
      Cliquez ici pour ouvrir un nouvel onglet
    </a>
  </li>
  <li>
    Puis saisissez dans la barre d'adresse: <b>chrome://extensions</b>
  </li>
  <li>
    Puis glissez-déposez le fichier "#######.crx" que vous avez téléchargé sur la page de
    paramétrage
  </li>
  <li>
    Acceptez l'installation de l'extension. Une fois l'extension installée, vous pouvez supprimer le
    fichier téléchargé.
  </li>
  <li>
    Enfin rechargez la page en cliquant ci-dessous
  </li>
</ol>

<div>Remarque: cette procédure est temporaire</div>


<button class="btn btn-default pull-right jsxc_closeInstallChromeExtension">Fermer</button>
<button class="btn btn-default pull-right jsxc_reloadInstallChromeExtension">Recharger la page
</button>
