<div id="jsxc_menuWelcome">

  <p>
    Recherchez une fonctionnalité à l'aide du champs ci-dessus ou explorez le menu :)
  </p>

  <div data-pres="offline" class="jsxc_actionButton jsxc_menu_offline">Se déconnecter</div>

  <!-- Display notifications -->

  <p>Notifications: <span class="jsxc_menu_notif_number"></span></p>
  <div id="jsxc-notifications">

    <!-- Notification inserted here -->
    <ul>

    </ul>

  </div>

  <!-- Change status -->

  <p>Statut:</p>

  <div class="jsxc_status_buttons">

    <div data-pres="online" class="jsxc_actionButton jsxc_online" data-i18n="Online"></div>
    <div data-pres="away" class="jsxc_actionButton jsxc_away" data-i18n="Away"></div>
    <div data-pres="dnd" class="jsxc_actionButton jsxc_dnd" data-i18n="dnd"></div>

  </div>

  <!-- invite users -->

  <p>Inviter des utilisateurs:</p>

  <div id="jsxc_contactsUserList"></div>

  <div class="jsxc_menuAdvice">Touche 'Control' pour sélectionner plusieurs utilisateurs</div>

  <div class="jsxc_addBuddyFromList jsxc_actionButton">Inviter un/des utilisateur(s)</div>

  <div class="jsxc_removeBuddyFromList jsxc_actionButton">Supprimer un/des contact(s)</div>

  <div class="jsxc_refreshBuddyList jsxc_actionButton">Rafraichir la liste</div>


  <div class="jsxc_sideMenuBottom"></div>


</div>