<div id="jsxc_menuTools">

  <div>

    <h2>Vidéoconférence</h2>

    <div id="jsxc_videoConferenceCallUsers"></div>

    <div class="jsxc_actionButton jsxc_refreshBuddyList">Rafraichir la liste</div>
    <div class="jsxc_actionButton jsxc_createConference">Appeler les contacts</div>

  </div>

  <div>

    <h2>Etherpad</h2>

    <p>Choisissez un nom pour votre pad, et partagez le !
      <input id="jsxc_etherpad_name" type="text" placeholder="Nom du pad"/>
    </p>
    <p>Lien de partage:
      <input type="text" class="jsxc_etherpad_sharetextfield"/>
      <a href="#" class="jsxc_etherpad_sharelink" target="_blank">>></a></p>

    <div class="jsxc_actionButton jsxc_openpad">Ouvrir un pad</div>


    <div class="jsxc_actionButton notImplementedYet">Liste des pads</div>

  </div>


</div>