<div id="jsxc_menuSettings">

    <div class="jsxc_muteNotification jsxc_actionButton" data-i18n="Mute"></div>

    <div class="jsxc_showNotificationRequestDialog jsxc_actionButton">Activer les notifications de bureau</div>

    <div class="jsxc_actionButton notImplementedYet">Interdire les appels vidéos</div>

    <div class="jsxc_actionButton jsxc_hideOffline" data-i18n="Hide_offline"></div>

    <div class="jsxc_actionButton jsxc_dialog_settings">Boite de dialogue de réglages</div>

    <div class="jsxc_actionButton notImplementedYet">Rétablir les réglages par défaut</div>

    <div class="jsxc_actionButton notImplementedYet">Console XMPP</div>

    <div class="jsxc_actionButton notImplementedYet">Console d'événements Jquery</div>

    <div class="jsxc_actionButton jsxc_about">A propos</div>

</div>
