<!-- Panel where are displayed videos -->
<div id="jsxc-mediapanel">

  <a class="jsxc-close-mediapanel"></a>

  <div id="jsxc-mediapanel-left">

    <div class="jsxc-header">
      Multimédia
    </div>

    <div>
      <p>Vidéo locale:</p>
      <video id="jsxc-local-video"/>
    </div>

    <div>
      <p>Participants:</p>
      <ul class="jsxc_videoconferenceUsers">
      </ul>
    </div>

    <a class="jsxc_mmstreamTerminateAll">Terminer tous les appels</a>

  </div>

  <div id="jsxc-mediapanel-right">

  </div>

</div>