<div id="jsxc-chat-sidebar">

  <!--

  Sidebar header, always visible

  -->
  <div id="jsxc-chat-sidebar-header">

    <!-- toggle video -->
    <span class="jsxc-toggle-mediapanel"></span>

    <span class="jsxc-header-content"></span>

    <!-- close chatsidebar -->
    <span class="jsxc-close-chatsidebar"></span>

    <!-- Open help menu -->
    <span class="jsxc-toggle-help"></span>

    <!-- open settings menu -->
    <span class="jsxc-toggle-settings"></span>

  </div>


  <!-- Chat sidebar content -->
  <div id="jsxc-chat-sidebar-content">


    <!--

    Head of content with filters and menu button, static

    -->
    <div id="jsxc-action-bar">

      <a id="jsxc-new-gui-filter-users" data-i18n="users"></a>
      <a id="jsxc-new-gui-filter-conversations" data-i18n="conversations"></a>

      <a id="jsxc-select-buddies">
        <span data-i18n="select"></span> <span class="jsxc-selected-number"></span></a>

      <span id="jsxc-toggle-actions"></span>

    </div>


    <!--

      Bottom of content, that can be changed by user

    -->
    <div id="jsxc-sidebar-content-viewport">


      <!--

      Parameters menu

      -->

      <div id="jsxc-settings-menu" class="jsxc-viewport-content">

        <div class="jsxc-title" data-i18n="parameters"></div>

        <a class="jsxc-action jsxc-action_toggleMuteMode" data-i18n="play_sounds"></a>
        <a class="jsxc-action jsxc-action_toggleNotifications" data-i18n="display_notifications"></a>
        <a class="jsxc-action jsxc-action_disableVideoCalls" data-i18n="disable_video_calls"></a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_clearLocalHistory" data-i18n="clear_local_conversations_history"></a>
        <a class="jsxc-action jsxc-action_installScreenSharingExtension" data-i18n="screensharing_extension"></a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_showCollectedDatas" data-i18n="collected_datas"></a>

        <a class="jsxc-action jsxc-show-about-dialog" data-i18n="About"></a>

      </div>


      <!--

      Help menu

      -->

      <div id="jsxc-help-menu" class="jsxc-viewport-content">

        <div class="jsxc-title" data-i18n="help"></div>

        <ul id="jsxc-help-tutorial-list"></ul>

      </div>


      <!--

      Main menu

      -->

      <div id="jsxc-main-menu" class="jsxc-viewport-content">

        <div class="jsxc-title" data-i18n="menu"></div>

        <a class="jsxc-action jsxc-action_search-user" data-i18n="search_user"></a>
        <a class="jsxc-action jsxc-action_manage-notifications" data-i18n="notifications">
          &nbsp;<span class="jsxc_menu_notif_number"></span></a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_new-conversation" data-i18n="new_conversation"></a>
        <a class="jsxc-action jsxc-action_invite-in-conversation" data-i18n="invite_in_conversation"></a>
        <a class="jsxc-action jsxc-action_new-etherpad-document" data-i18n="open_etherpad"></a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action jsxc-action_video-call" data-i18n="video_call"></a>
        <a class="jsxc-action jsxc-action_videoconference" data-i18n="videoconference"></a>
        <a class="jsxc-action jsxc-action_screensharing" data-i18n="share_screen"></a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_delete-buddies" data-i18n="delete"></a>

      </div>

      <!--

      Search menu

      -->

      <div id="jsxc-search-users" class="jsxc-viewport-content">

        <div class="jsxc-title" data-i18n="search"></div>

        <input id="jsxc-chat-sidebar-search" placeholder="..." type="text"/>

        <button id="jsxc-chat-sidebar-search-chat" class="btn btn-default" data-i18n="discuss"/>
        <button id="jsxc-chat-sidebar-search-invite" class="btn btn-primary" data-i18n="invite"/>

        <div class="jsxc-search-users-results">

        </div>

      </div>

      <!--

      Notification menu

      -->
      <div id="jsxc-manage-notifications" class="jsxc-viewport-content">

        <div class="jsxc-title">
          <span data-i18n="notifications"></span>&nbsp;
          <span class="jsxc_menu_notif_number"></span></div>

        <a class="jsxc-action jsxc-action_rejectAllNotifications" data-i18n="reject_all"></a>
        <a class="jsxc-action jsxc-action_notificationsParameters" data-i18n="parameters"></a>

        <div id="jsxc-notifications">
          <ul></ul>
        </div>

      </div>

      <!--

      Connexion form

      -->
      <div id="jsxc-connexion-menu" class="jsxc-viewport-content">

        <div class="jsxc-title" data-i18n="connection"></div>

        <p data-i18n="login"></p>
        <input type="text" id="jsxc-connexion-login"/>

        <p data-i18n="password"></p>
        <input type="password" id="jsxc-connexion-password"/>

        <button id="jsxc-connexion-submit" class="btn btn-primary" data-i18n="connect_me">
        </button>

        <div id="jsxc-login-standby" data-i18n="please_stand_by">
        </div>

        <div id="jsxc-login-warning" data-i18n="connection_if_problem_persist">
        </div>

      </div>

      <!--

      Buddy list, where stored contacts AND buddies

      -->
      <div id="jsxc-buddy-list-container" class="jsxc-viewport-content">

        <!-- We need to have a block before buddy list -->
        <div>&nbsp;</div>

        <ul id="jsxc_buddylist"></ul>

      </div>

    </div>


    <!--

    Status bar, bottom of content, static

    -->

    <div id="jsxc-status-bar">

      <span class="jsxc-user-name"></span>

      <select class="jsxc-select-status">
        <option value="online" class="jsxc_online" data-i18n="Online"></option>
        <option value="chat" class="jsxc_chat" data-i18n="Chatty"></option>
        <option value="away" class="jsxc_away" data-i18n="Away"></option>
        <option value="xa" class="jsxc_xa" data-i18n="Extended_away"></option>
        <option value="dnd" class="jsxc_dnd" data-i18n="dnd"></option>
      </select>

      <span class="jsxc-login-button"></span>
      <span class="jsxc-logout-button"></span>

    </div>

  </div>

</div>