<div id="jsxc-chat-sidebar">

  <!--

  Sidebar header, always visible

  -->
  <div id="jsxc-chat-sidebar-header">

    <!-- toggle chat only -->
    <!--<span class="jsxc-toggle-sidebar"></span>-->

    <!-- toggle video -->
    <span class="jsxc-toggle-mediapanel"></span>

    <span class="jsxc-header-content"></span>

    <!-- close chatsidebar -->
    <span class="jsxc-close-chatsidebar"></span>

    <!-- open settings menu -->
    <span class="jsxc-toggle-settings"></span>

  </div>


  <!-- Chat sidebar content -->
  <div id="jsxc-chat-sidebar-content">


    <!--

    Head of content with filters and menu button, static

    -->
    <div id="jsxc-action-bar">

      <a id="jsxc-new-gui-filter-users">Utilisateurs</a>
      <a id="jsxc-new-gui-filter-conversations">Discussions</a>

      <a id="jsxc-select-buddies">Sélectionner <span class="jsxc-selected-number"></span></a>

      <span id="jsxc-toggle-actions"></span>

    </div>


    <!--

      Bottom of content, that can be changed by user

    -->
    <div id="jsxc-sidebar-content-viewport">


      <!--

      Parameters menu

      -->

      <div id="jsxc-settings-menu" class="jsxc-viewport-content">

        <div class="jsxc-title">Paramètres</div>

        <a class="jsxc-action jsxc-action_toggleMuteMode">Jouer les sons</a>
        <a class="jsxc-action jsxc-action_toggleNotifications">Afficher les notifications</a>
        <a class="jsxc-action jsxc-action_disableVideoCalls">Interdire les appels vidéo</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_clearLocalHistory">Effacer l'historique local des
          conversations</a>
        <a class="jsxc-action jsxc-action_installScreenSharingExtension">Extension de capture
          d'écran</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_showCollectedDatas">Données collectées</a>

        <a class="jsxc-action jsxc-show-about-dialog">A propos</a>

      </div>


      <!--

      Main menu

      -->

      <div id="jsxc-main-menu" class="jsxc-viewport-content">

        <div class="jsxc-title">Menu</div>

        <a class="jsxc-action jsxc-action_search-user">Rechercher un utilisateur</a>
        <a class="jsxc-action jsxc-action_manage-notifications">Notifications &nbsp;<span class="jsxc_menu_notif_number"></span></a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_new-conversation">Nouvelle conversation</a>
        <a class="jsxc-action jsxc-action_invite-in-conversation">Inviter dans une conversation</a>
        <a class="jsxc-action jsxc-action_new-etherpad-document">Ouvrir un document Etherpad</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action jsxc-action_video-call">Appel vidéo</a>
        <a class="jsxc-action jsxc-action_videoconference">Vidéo conférence</a>
        <a class="jsxc-action jsxc-action_screensharing">Partager mon écran</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action jsxc-action_delete-buddies">Supprimer</a>

      </div>

      <!--

      Search menu

      -->

      <div id="jsxc-search-users" class="jsxc-viewport-content">

        <div class="jsxc-title">Rechercher</div>

        <input id="jsxc-chat-sidebar-search" placeholder="Rechercher ..." type="text"/>
        <input id="jsxc-chat-sidebar-search-invite" class="btn btn-default" value="Inviter" type="button"/>
        <input id="jsxc-chat-sidebar-search-chat" class="btn btn-primary" value="Discuter" type="button"/>

        <div class="jsxc-search-users-results">

        </div>

      </div>

      <!--

      Notification menu

      -->
      <div id="jsxc-manage-notifications" class="jsxc-viewport-content">

        <div class="jsxc-title">Notifications <span class="jsxc_menu_notif_number"></span></div>

        <a class="jsxc-action jsxc-action_rejectAllNotifications">Tout rejeter</a>
        <a class="jsxc-action jsxc-action_notificationsParameters">Paramètres</a>

        <div id="jsxc-notifications">
          <ul></ul>
        </div>

      </div>

      <!--

      Connexion form

      -->
      <div id="jsxc-connexion-menu" class="jsxc-viewport-content">

        <div class="jsxc-title">Connexion</div>

        <p>Identifiant: </p>
        <input type="text" id="jsxc-connexion-login"/>

        <p>Mot de passe: </p>
        <input type="password" id="jsxc-connexion-password"/>

        <input type="button" id="jsxc-connexion-submit" class="btn btn-primary" value="Connexion"/>

        <div id="jsxc-login-standby">
          Veuillez patienter ....
        </div>

        <div id="jsxc-login-warning">
          Echec de la connexion. Si ce problème persiste, rafraichissez la
          page et essayez à nouveau.
        </div>

      </div>

      <!--

      Buddy list, where stored contacts AND buddies

      -->
      <div id="jsxc-buddy-list-container" class="jsxc-viewport-content">

        <!-- We need to have a block before buddy list -->
        <div>&nbsp;</div>

        <ul id="jsxc_buddylist"></ul>

      </div>

    </div>








    <!--

    Status bar, bottom of content, static

    -->

    <div id="jsxc-status-bar">

      <span class="jsxc-user-name"></span>

      <select class="jsxc-select-status">
        <option value="online" class="jsxc_online" data-i18n="Online"></option>
        <option value="chat" class="jsxc_chat" data-i18n="Chatty"></option>
        <option value="away" class="jsxc_away" data-i18n="Away"></option>
        <option value="xa" class="jsxc_xa" data-i18n="Extended_away"></option>
        <option value="dnd" class="jsxc_dnd" data-i18n="dnd"></option>
      </select>

      <span class="jsxc-login-button" title="Connexion"></span>
      <span class="jsxc-logout-button" title="Déconnexion"></span>

    </div>

  </div>

</div>