<div id="jsxc-chat-sidebar">

  <!-- Sidebar header, always visible -->
  <div id="jsxc-chat-sidebar-header">

    <!-- toggle chat only -->
    <!--<span class="jsxc-toggle-sidebar"></span>-->

    <!-- toggle video -->
    <span class="jsxc-toggle-mediapanel"></span>

    <span class="jsxc-last-notifications">5 utilisateurs</span>

    <!-- close chatsidebar -->
    <span class="jsxc-close-chatsidebar"></span>

    <!-- open settings menu -->
    <span class="jsxc-toggle-settings"></span>

  </div>

  <!-- Chat sidebar content -->
  <div id="jsxc-chat-sidebar-content">

    <!-- Head of content, static -->
    <div id="jsxc-action-bar">

      <a id="jsxc-new-gui-filter-users">Utilisateurs</a>
      <a id="jsxc-new-gui-filter-conversations">Discussions</a>

      <a id="jsxc-select-buddies" class="jsxc-checked">Sélectionner plusieurs</a>

      <span id="jsxc-toggle-actions"></span>

    </div>

    <div id="jsxc-sidebar-content-viewport">

      <div id="jsxc-settings-menu" class="jsxc-viewport-content">

        <a class="jsxc-action_notImplementedYet">Mode muet: on | off</a>
        <a class="jsxc-action_notImplementedYet">Notifications de bureau: on | off</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action_notImplementedYet">Effacer l'historique local des conversations</a>
        <a class="jsxc-action_notImplementedYet">Extension de capture d'écran</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action_notImplementedYet">A propos</a>

      </div>

      <div id="jsxc-actions-menu" class="jsxc-viewport-content">

        <div>&nbsp;</div>

        <a class="jsxc-action_search-user">Rechercher un contact</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action_new-conversation">Nouvelle conversation</a>
        <a class="jsxc-action_invite-in-conversation">Inviter dans une conversation</a>

        <a class="jsxc-action_new-etherpad-document">Nouveau document Etherpad</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action_video-call">Appel vidéo</a>
        <a class="jsxc-action_videoconference">Vidéo conférence</a>
        <a class="jsxc-action_screensharing">Partager mon écran</a>

        <div class="jsxc-content-separator"></div>

        <a class="jsxc-action_delete-buddies">Supprimer les contacts</a>
        <a class="jsxc-action_logout">Se déconnecter</a>


      </div>

      <!-- XEP 0055 user search-->
      <div id="jsxc-search-users" class="jsxc-viewport-content">

        <input id="jsxc-chat-sidebar-search" placeholder="Rechercher ..." type="text"/>

        <div class="jsxc-search-users-results">
          <a>Paul</a>
          <a>Claude</a>
          <a>Jules</a>
          <a>....</a>
        </div>

      </div>

      <!-- buddy list, where stored contacts AND buddies -->
      <div id="jsxc-buddy-list-container" class="jsxc-viewport-content">

        <div>&nbsp;</div>

        <ul id="jsxc_buddylist"></ul>

      </div>

    </div>


    <div id="jsxc-status-bar">

      <span>Jean Claude le Grand</span>

      <select class="jsxc-select-status">
        <option>En ligne</option>
        <option>Absent</option>
        <option>Ne pas déranger</option>
      </select>

      <span class="jsxc-logout-button"></span>

    </div>

  </div>

</div>