<!-- Panel where are displayed videos -->
<div id="jsxc-mediapanel">

  <a class="jsxc-close-mediapanel"></a>

  <div id="jsxc-mediapanel-left">

    <div class="jsxc-header">
      2 participants
      </div>

    <div>
      <p>Vidéo locale:</p>
      <video class="jsxc-local-video"/>
    </div>

    <div>
      <p>Participants:</p>
      <ul id="jsxc-videoconference-buddies">
        <li>Miguel</li>
        <li>Rémi</li>
        <li>David</li>
      </ul>
    </div>

  </div>

  <div id="jsxc-mediapanel-right">

  </div>

</div>