<!-- Panel where are displayed videos -->
<div id="jsxc-mediapanel">

  <a class="jsxc-close-mediapanel"></a>

  <div id="jsxc-mediapanel-left">

    <div class="jsxc-header" data-i18n="multimedia_panel"></div>

    <div>
      <p data-i18n="local_video"></p>
      <video id="jsxc-local-video"/>
    </div>

    <div>
      <p data-i18n="participants"></p>
      <ul class="jsxc_videoconferenceUsers"></ul>
    </div>

    <p>
      <a class="jsxc_mmstreamTerminateAll" data-i18n="terminate_all_and_reset_multimedia"></a>
    </p>

  </div>

  <div id="jsxc-mediapanel-right">

  </div>

</div>