<div id="jsxc_videoPanel">

  <div class="jsxcVideoPanelHeader">
    <h3 class="jsxc_videoPanelTitle">Appels vidéo</h3>

    <div>
      <div class="jsxc_headerCell">

        <ul class="jsxc_videoconferenceUsers">

        </ul>

      </div>

      <div class="jsxc_headerCell jsxc_localVideoCtr">
        <video style="width: 100%" id="jsxc_localVideo"/>
      </div>
      
    </div>

  </div>


  <!-- Side bar with local and remote videos -->
  <div class="jsxc_videoPanelContent">


  </div>

  <!-- toggle video menu -->
  <div id="jsxc_toggleVideoPanel"></div>

</div>
