body {
    margin-top: 30px;
    font-family: "Century Gothic", "Trebuchet MS", "Arial", "sans serif";
    font-size: 13px;
}

.connexionForm{
    margin: 15px;
    border: none;
    width: 100%;
}

.connexionForm td{
    vertical-align: top;
    padding: 4px;
}

.connexionForm .buttons{
    text-align: right;
}

#content {
    width: 70%;
    margin: auto;
}

#infoDisplay {
    width: 100%;
    margin: auto;
}

#availablesAccounts {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textContent {
    margin-top: 20px;
    margin-bottom: 20px;
}

#connexionButton {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tabs img {
    border: solid 2px silver;
    margin: auto;
}