body {
  margin-top: 30px;
  font-size: 13px;
  font-family: Calibri, "PT Sans", "Trebuchet MS", "Helvetica Neue", Arial;
}

#content {
  width: 80%;
  margin: auto;
}

div{
  padding: 0.5em;
}

#feedback_area{
  height: 150px;
  overflow-x: auto;
  overflow-y: scroll;
}