/**
  Class applyed when user select multiple elements
*/
.jsxc-checked {
  text-decoration: underline;

  &:after {

    content: " ";
    width: 1em;
    height: 0.9em;
    display: inline-block;
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 0 0.5em 0 0.5em;

    background-image: url('../img/newgui/check.svg');

  }

}

.jsxc_right {
  text-align: right;
}

.jsxc-title {
  font-weight: bolder;
  font-size: 1.3em;
  color: white;
}

.jsxc_rosterIsEmptyMessage {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.jsxc-reconnect-message {
  text-decoration: none;
  cursor: pointer;
  margin: 1em;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.jsxc-warning-offline {
  padding: 0.7em;
  color: black;
}

.jsxc-warning-notbuddy {
  padding: 0.7em;
  color: darkBlue;
}

.jsxc-custom-tooltip {
  background: black;
  opacity: 1;
  z-index: 800;
  color: white;
}

.jsxc_center {
  text-align: center;
}

.jsxc_sep {
  border-top: 1px solid $separator;
}

.jsxc_name {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jsxc_maxWidth {
  max-width: 500px;
}

.jsxc_avatar {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 0px 5px;
  background-color: $avatar_bg;
  border-radius: 50%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: $avatar_color;
  position: relative;
  font-family: $font_sans;
  background-size: cover;
  background-position: center center;

  img {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    position: absolute;
    top: -2px;
    left: -6px;
    border: 2px solid $roster_bg;
  }
}

ul.jsxc_vCard {
  min-width: 400px;

  ul {
    margin-left: 20px;
  }

  li {
    cursor: default !important;
  }
}

/** Spot which is attached to xmpp: uris */
.jsxc_spot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-indent: -99999em;
  margin-top: 3px;
  margin-right: 5px;
  line-height: 100%;
  cursor: pointer;
  border: 1px solid $spot_border;
  background-color: $white;

  &:before {
    position: absolute;
  }

  &.jsxc_online, &.jsxc_chat, &.jsxc_away, &.jsxc_xa, &.jsxc_dnd, &.jsxc_offline {
    border: 0;
  }
}

.jsxc_unread {
  display: none;
}

.jsxc_unreadMsg {
  .jsxc_name {
    font-style: italic;
  }

  .jsxc_unread {
    display: block;
    background-color: $unread_bg;
    border-radius: 11px;
    color: $unread_color;
    font-size: 80%;
    padding: 2px;
    line-height: 15px;
    float: right;
    margin-right: 3px;
    margin-top: 4px;
  }
}

/** TODO: check if required */
.jsxc_list {
  .jsxc_inner {
    box-sizing: border-box;
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  &.jsxc_opened {
    .jsxc_inner {
      max-height: 1000px;
      visibility: visible;
      display: block;
    }
  }
}

#cboxWrapper {
  outline: none;
}

.jsxc_loading {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  border: 0;
  background-size: 32px 32px !important;
  background: image-url("loading.gif");
}

/* @TODO: check */
#jsxc_loginForm input[type="submit"] {
  height: 34px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
  color: $white;
  background-color: $loginForm_bg;
  border-color: $loginForm_border;
}

.jsxc_oneway .jsxc_avatar {
  filter: grayscale(100%);
}

img.jsxc_vCard {
  float: right;
  max-width: 200px;
  max-height: 200px;
  border: 5px solid $white;
  border-radius: 2px;
}

.jsxc_alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.jsxc_alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
}

.jsxc_btn {
  width: auto;
  min-width: 25px;
  display: inline-block;
  padding: 6px 12px;
  margin: 0px 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &.jsxc_btn-default {
    border-color: #ccc;
    color: #555;
    background-color: rgba(240, 240, 240, 0.9);
  }

  &.jsxc_btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  &[disabled], &[disabled]:hover {
    opacity: 0.65;
    cursor: not-allowed;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}

.jsxc_menu {
  display: none;
  position: absolute;
  background-color: #FFF;
  color: #333;
  border-radius: 3px 3px 3px 3px;
  z-index: 110;
  margin: 8px 2px 5px 10px;
  right: 0px;
  filter: drop-shadow(0px 0px 5px rgba(150, 150, 150, 0.75));
  padding: 4px 12px;
  padding-left: 5px;

  &:after {
    bottom: 100%;
    right: 6px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #fff;
    border-width: 10px;
  }

  &.jsxc_open {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border: 0;
    cursor: auto;
  }

  a {
    color: #000;
    opacity: 0.5;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
      opacity: 1.0;
    }

    &.jsxc_disabled {
      text-decoration: line-through;
      opacity: 0.5;

      &:hover {
        text-decoration: line-through;
        opacity: 0.5;
      }

      span {
        cursor: default;
      }
    }
  }

  .jsxc_icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: sub;
  }
}

.jsxc_editicon {
  background-image: image-url("edit_black.svg");
}

.jsxc_deleteicon {
  background-image: image-url("delete_black.svg");
}

.jsxc_videoicon {
  background-image: image-url("camera_icon_black.svg");
}

.jsxc_chaticon {
  background-image: image-url("speech_balloon_black.svg");
}

.jsxc_videoicon {
  background-image: image-url("camera_icon_black.svg");
}

.jsxc_infoicon {
  background-image: image-url("info_black.svg");
}

.jsxc_settingsicon {
  background-image: image-url("gear_black.svg");
}

.jsxc_helpicon {
  background-image: image-url("help_black.svg");
}

.jsxc_contacticon {
  background-image: image-url("contact_black.svg");
}

.jsxc_groupcontacticon {
  background-image: image-url("groupcontact_black.svg");
}

.jsxc_bookmarkicon {
  background-image: image-url("bookmark_black.svg");
}

.jsxc_more {
  float: right;
  width: 44px;
  height: 100%;
  cursor: pointer;
  background-image: image-url("more_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;

  &:hover {
    opacity: 1.0;
  }

  @media (min-width: 768px) {
    width: 25px;
  }
}

.jsxc_demotour_item {

  z-index: 9999;

  //.shepherd-element-attached-right .shepherd-content:before{
  //  border-left-color: darkGray !important;
  //}

}

// illustration of Chrome extension installation
#jsxc_installationIllustration {
  width: 70%;
  margin-left: 10%;
}

#jsxc_slaveClientWarning {

  display: block;
  height: 30px;

  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 5px;

  background: #7eb73b;
  color: white;

  font-size: 14px;
  font-weight: bolder;

  text-align: center;
}

#jsxc_noStorageWarning {

  display: block;
  height: 30px;

  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 5px;

  background: darkred;
  color: white;

  font-size: 14px;
  font-weight: bolder;

  text-align: center;
}

#jsxc_noscript_warning {

  display: block;
  height: 30px;

  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 5px;

  background: darkred;
  color: white;

  font-size: 14px;
  font-weight: bolder;

  text-align: center;
}

.jsxc_testBox {
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
  display: none;
}

.jsxc_noNotice {
  cursor: default;
}

/**
   Ressources links and display in media panel
 */
.jsxc-media-ressource-link {
  color: darkblue;
  cursor: pointer;
  opacity: 0.8;
}

.jsxc-media-ressource-link:hover {
  text-decoration: underline;
  opacity: 1;
}

.jsxc-media-ressource-link:after {

  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 3px 0 3px;

  background-image: image-url('newgui/ressource-link.svg');

}









