
#jsxc-mediapanel {

  /** Just under chat sidebar */
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 0px;

  /**
  Left video panel with controls and local video
*/
  #jsxc-mediapanel-left {
    margin: 0px;
    text-align: center;
    float: left;
    height: 100%;
    width: 20%;

    display: block;

    background: rgba(255, 255, 255, 1);

    border-right: solid 1px gray;
  }

  #jsxc-mediapanel-left .jsxc-header {
    font-weight: bolder;
    background: #1c94d4;
    color: white;
    padding: 1em;
  }

  #jsxc-mediapanel-left p {
    text-align: left;
    margin: 1em;
  }

  /**
    Right mediapanel with remote videos
  */
  #jsxc-mediapanel-right {

    margin: 0px;
    display: block;
    text-align: center;
    float: right;

    height: 100%;
    width: 79%;
    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: scroll;

  }

  .jsxc_mediaPanelRemoteVideo {

    min-width: 300px;
    min-height: 300px;

    max-height: 470px;
  }

  #jsxc-local-video {
    background: rgba(0, 0, 0, 1);
    width: 80%;
    margin: 5px;
  }

  .jsxc-close-mediapanel {

    position: fixed;
    top: 15px;
    right: 20px;

    display: none;

    content: ' ';
    width: 1.5em;
    height: 1.5em;

    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 6px 0 6px;

    background-image: image-url('newgui/hide-white.svg');

    cursor: pointer;
  }

  .jsxc-close-ressource {

    display: inline-block;

    content: ' ';
    width: 0.8em;
    height: 0.8em;

    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 0.8em 0 0.8em;

    background-image: image-url('newgui/close.svg');

    cursor: pointer;
  }

  /**
    Warning shown when ther is a problem with media ressoruce display
  */
  .jsxc-multimedia-error-block {
    font-weight: bolder;
    color: white;
    font-size: 14px;
  }

  .jsxc-media-ressource {

    display: block;
    height: 80%;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .jsxc-title {
      font-size: 1.2em;
      text-align: center;
      font-weight: bolder;
      color: white;
      height: 1.4em;
      line-height: 1.4em;
    }

    .jsxc_videoControl {
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 1.4em;
      width: 1.5em;
      content: ' ';
      cursor: pointer;
      opacity: 0.8;

      margin-left: 1em;

      &:hover {
        opacity: 1.0;
      }
    }

    .jsxc_hangUpControl {
      background-image: image-url("hang_up_red.svg");
    }

    .jsxc_fullscreenControl {
      background-image: image-url("fullscreen_white.svg");
    }

  }

  .jsxc_videoCallContainer {
    margin: 1em;
  }

  .jsxc_videoconferenceUsers {

    list-style: none;
    margin: 0.7em;
    padding: 0em;
    padding-left: 0.5em;

    li {
      text-align: left;
      padding-left: 1em;
    }

    .jsxcVideoConf_SELF {
      display: none;
    }

    .jsxcVideoConf_INITIATOR {
      &:after {
        content: " ";
        width: 1em;
        height: 1em;
        display: inline-block;
        background-size: 90%;
        background-repeat: no-repeat;
        margin: 0 0 0 3px;

        background-image: image-url("videoconference_initiator.svg");
      }
    }

    .jsxcVideoConf_DISCONNECTED {
      &:before {
        content: " ";
        width: 1em;
        height: 1em;
        display: inline-block;
        background-size: 90%;
        background-repeat: no-repeat;
        margin: 0 0.4em 0 0;

        background-image: image-url("newgui/videoconference_disconnected.svg");
      }
    }

    .jsxcVideoConf_NOT_READY, .jsxcVideoConf_READY, .jsxcVideoConf_CONNECTING,
    .jsxcVideoConf_CONNEXION_DISTURBED {
      &:before {
        content: " ";
        width: 1em;
        height: 1em;
        display: inline-block;
        background-size: 90%;
        background-repeat: no-repeat;
        margin: 0 0.4em 0 0;

        background-image: image-url("newgui/videoconference_waiting.svg");
      }
    }

    .jsxcVideoConf_CONNECTED {
      &:before {
        content: " ";
        width: 1em;
        height: 1em;
        display: inline-block;
        background-size: 90%;
        background-repeat: no-repeat;
        margin: 0 0.4em 0 0;

        background-image: image-url("newgui/videoconference_connected.svg");
      }
    }

    .jsxcVideoConf_HAS_DECLINED_VIDEOCONFERENCE, .jsxcVideoConf_REJECTED {
      &:before {
        content: " ";
        width: 1em;
        height: 1em;
        display: inline-block;
        background-size: 90%;
        background-repeat: no-repeat;
        margin: 0 0.4em 0 0;

        background-image: image-url("newgui/videoconference_declined.svg");
      }
    }

  }

  /**
    Link which allow user to terminate all calls with one click
  */
  .jsxc_mmstreamTerminateAll {

    color: black;
    opacity: 0.7;

    &:before {
      content: " ";
      width: 1em;
      height: 1em;
      display: inline-block;
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 0 0.4em 0 0;

      background-image: image-url("newgui/hang-up-all.svg");
    }

    &:hover {
      opacity: 1;
    }
  }

  .jsxc_fullscreenVideo {
    width: 100%;
    margin: 10px;
    border: solid 1px gray;
  }

}