
#jsxc-mediapanel {

  /** Just under chat sidebar */
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 0px;

  /**
  Left video panel with controls and local video
*/
  #jsxc-mediapanel-left {
    margin: 0px;
    text-align: center;
    float: left;
    height: 100%;
    width: 20%;

    display: block;

    background: rgba(255, 255, 255, 1);

    border-right: solid 1px gray;
  }

  #jsxc-mediapanel-left .jsxc-header {
    font-weight: bolder;
    background: #1c94d4;
    color: white;
    padding: 1em;
  }

  #jsxc-mediapanel-left p {
    text-align: left;
    margin: 1em;
  }

  /**
    Right mediapanel with remote videos
  */
  #jsxc-mediapanel-right {

    margin: 0px;
    display: block;
    text-align: center;
    float: right;

    height: 100%;
    width: 79%;
    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: scroll;

  }

  #jsxc-videoconference-buddies {
    margin: 5px;
    list-style: none;
  }

  #jsxc-videoconference-buddies li {
    text-align: left;
    margin: 5px 5px 5px 15px;
    padding: 2px;
  }

  .jsxc-local-video {
    background: rgba(0, 0, 0, 1);
    width: 80%;
    margin: 5px;
  }

  .jsxc-close-mediapanel {

    position: fixed;
    top: 15px;
    right: 15px;

    display: none;

    content: ' ';
    width: 1em;
    height: 1em;

    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 6px 0 6px;

    background-image: image-url('newgui/close.svg');

    cursor: pointer;
  }

  .jsxc-close-ressource {

    display: inline-block;

    content: ' ';
    width: 0.8em;
    height: 0.8em;

    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 0.8em 0 0.8em;

    background-image: image-url('newgui/close.svg');

    cursor: pointer;
  }

  /**
    Warning shown when ther is a problem with media ressoruce display
  */
  .jsxc-multimedia-error-block {
    font-weight: bolder;
    color: white;
    font-size: 14px;
  }

  .jsxc-media-ressource {

    display: block;
    height: 80%;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .jsxc-title {
      font-size: 1.2em;
      text-align: center;
      font-weight: bolder;
      color: white;
    }

  }

}