$roster_width: 300px;
/**
  Sive video panel where shown videos thumbs

*/
#jsxc_videoPanel {

  font-size: 13px;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  width: $roster_width;
  overflow: visible;
  border-right: 1px solid #e1e1e1;
  z-index: 80;
  background-color: whitesmoke;

  display: block;

  &.jsxc_state_hidden {
    display: block;
    left: -$roster_width;
    transition: left 0.5s;

    #jsxc_toggleRoster {
      &:before {
        transform: rotate(0deg);
      }
    }
  }

  &.jsxc_state_shown {
    display: block;
    left: 0px;
    transition: left 0.5s;
  }

  #jsxc_toggleVideoPanel {

    width: 14px;
    height: 100%;
    position: absolute;
    right: -14px !important;
    top: 0;
    z-index: 110;
    background-color: transparent;
    cursor: pointer;
    display: block;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      top: 50%;
      right: 0px;
      border-style: solid;
      border-width: 6px 0 6px 4px;
      border-color: transparent whitesmoke;
    }

    &:hover {
      background-color: $roster_toggle_hover;
    }

  }

  .jsxc_videoMessage{
    margin: 20px;
    text-align: center;
    font-style: italic;
  }

  .jsxc_videoThumbContainer {
    padding: 4px;
    border: solid 1px darkgray;
    margin-bottom: 4px;
  }

  .jsxc_videoPanelContent {

    position: relative;
    height: 85%;
    padding: 10px;


    .jsxc_videoControl {
      height: 25px;
      width: 25px;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      cursor: pointer;
      display: inline-block;
      opacity: 0.8;

      &:hover {
        opacity: 1.0;
      }
    }

    .jsxc_hangUp {
      background-image: image-url("hang_up_red.svg");
      height: 20px;
      width: 40px;
      cursor: pointer;
    }

    .jsxc_fullscreen{
      background-image: image-url("full-screen.png");
      height: 20px;
      width: 40px;
      cursor: pointer;
    }

  }

  .jsxc_videoThumb {
    width: 100%;
  }

  .jsxc_videoThumb_title {
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
  }

}