.jsxc_filterableList {

  height: 220px;
  margin: 5px;
  border: 1px solid #dddddd;

  ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .ui-selected {
    background: rgb(126, 183, 59);
    color: white;
  }

  li {
    margin: 3px;
    padding: 4px;
    cursor: pointer;
    height: 2em;

    vertical-align: middle;
    line-height: 1;
  }

  .filterableList-result {
    background: yellow;
  }

}

/**
  User selection list
*/

.jsxc_userListContainer {

  ol {

    .buddy_item:after {
      content: image-url("user_list_buddy.png");
      vertical-align: -30%;
    }

  }

}

/**
  Room selection list
*/

.jsxc_roomListContainer {

  position: relative;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

  .jsxc_roomList {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .ui-selected {
      background: rgb(126, 183, 59);
      color: white;
    }

    li {
      margin: 3px;
      padding: 4px;
      cursor: pointer;
      height: 2em;

      vertical-align: middle;
      line-height: 1;
    }

    //.buddy_item:after {
    //  content: image-url("user_list_buddy.png");
    //  vertical-align: -30%;
    //}

  }

}

/**
  Buddy selection list
*/

.jsxc_buddyListContainer {

  position: relative;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

  .jsxc_buddyList {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .ui-selected {
      background: rgb(126, 183, 59);
      color: white;
    }

    li {
      margin: 3px;
      padding: 4px;
      cursor: pointer;
      height: 2em;

      vertical-align: middle;
      line-height: 1;
    }

  }

}

/**
  Conversation selection list
*/

.jsxc_conversationListContainer {

  position: relative;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

  .jsxc_conversationList {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .ui-selected {
      background: rgb(126, 183, 59);
      color: white;
    }

    li {
      margin: 3px;
      padding: 4px;
      cursor: pointer;
      height: 2em;

      vertical-align: middle;
      line-height: 1;
    }

  }

}
