
.jsxc_conversation-list-container {

  overflow: auto;
  border: solid 1px gray;
  padding: 0.7em;
  margin: 0.7em;

  height: 150px;

  .jsxc-conversation-list {

    list-style: none;

    li {
      cursor: pointer;
      line-height: 1.6em;
      margin: 0.2em !important;
      padding: 0.2em 0.2em 0.2em 1em !important;
      background: #EEEEEE;
    }

    .jsxc-checked {
      background: silver;
      background: #d1deff;
    }

  }
}

.jsxc_buddy-list-container {

  overflow: auto;
  border: solid 1px gray;
  padding: 0.7em;
  margin: 0.7em;

  height: 150px;

  .jsxc-selectable-buddy-list {

    list-style: none;

    li {
      cursor: pointer;
      line-height: 1.6em;
      margin: 0.2em !important;
      padding: 0.2em 0.2em 0.2em 1em !important;
      background: #EEEEEE;
    }

    .jsxc-checked {
      background: silver;
      background: #d1deff;
    }

  }
}
