@import "colors";
@import "dep";

//fonts
$font_sans: Arial, sans-serif;
$font_serif: serif;

@import "modules";
@import "buddylist";
@import "state";
@import "emoticons";
@import "roster";
@import "window";
@import "muc";

@import "jsxc";
@import "webrtc";

@import "menu";
@import "widgets";

@import "sidebar";
@import "mediapanel";


/**
  Workaround to avoid strange properties from other style sources
*/

#jsxc {
  font-family: Calibri, "PT Sans", "Trebuchet MS", 'Helvetica Neue', Arial;
  font-size: 13px !important;
}

#jsxc_roster {

  .ui-accordion-content {
    background: white;
  }

  .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
  }

}


