@import "colors";
@import "dep";

//fonts
$font_sans: Calibri, "PT Sans", "Trebuchet MS", 'Helvetica Neue', Arial;
$font_serif: Calibri, "PT Sans", "Trebuchet MS", 'Helvetica Neue', Arial;

@import "root";

@import "modules";
@import "buddylist";
@import "state";
@import "emoticons";
@import "window";
@import "muc";

@import "dialog";

@import "widgets";

@import "sidebar";
@import "mediapanel";

#jsxc-root, #jsxc_windowList, #jsxc_dialog {

  font-family: Calibri, "PT Sans", "Trebuchet MS", 'Helvetica Neue', Arial;
  font-size: 13px !important;

  b {
    font-weight: bolder;
  }

  i {
    font-style: italic;
  }

  /**
  Scrollbars
  */
  .ui-accordion-content {
    background: white;
  }

  .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
  }

  /**
    Buttons
  */
  .btn {
    margin: 0.2em;
  }

  .btn-default {
    background: #ffffff !important;
    color: #373737 !important;
  }

  .btn-primary {
    background: #337ab7 !important;
    color: #fff !important
  }

}