@import "colors";
@import "dep";

//fonts
$font_sans: Arial, sans-serif;
$font_serif: serif;

@import "modules";
@import "buddylist";
@import "state";
@import "emoticons";
@import "roster";
@import "window";
@import "muc";

@import "jsxc";
@import "webrtc";

@import "menu";
@import "widgets";

@import "videoPanel";

/**

Only for demonstration purpose

*/

#jsxc_videoPanel {

  .ui-accordion-content {
    background: white;
  }

  .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
  }

}

#jsxc_roster {

  .ui-accordion-content {
    background: white;
  }

  .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
  }

}


