/**
  Area to print feebacks
*/
.jsxc_feedbackArea{
  color: #3F3F3F;
  font-size: 11px;
  font-style: italic;
  text-align: center;
}


/**
  User selection list
*/

.jsxc_userListContainer {

  position: relative;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

  .jsxc_userList {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .ui-selecting {
      background: #FECA40;
    }

    .ui-selected {
      background: rgb(126, 183, 59);
      color: white;
    }

    li {
      margin: 3px;
      padding: 0.4em;
      cursor: pointer;
      height: 20px;
      vertical-align: middle;
    }

    .buddy_item:after {
      content: image-url("user_list_buddy.png");
      vertical-align: -30%;
    }

  }

}


/**
  User selection list
*/

.jsxc_roomListContainer {

  position: relative;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

  .jsxc_roomList {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .ui-selecting {
      background: #FECA40;
    }

    .ui-selected {
      background: rgb(126, 183, 59);
      color: white;
    }

    li {
      margin: 3px;
      padding: 0.4em;
      cursor: pointer;
      height: 20px;
      vertical-align: middle;
    }

    //.buddy_item:after {
    //  content: image-url("user_list_buddy.png");
    //  vertical-align: -30%;
    //}

  }

}
